.hide {
    display: none;
}

#custom-bg {
    background-image: url("../images/birthdaybg.png");
    background-size: cover;
    display: flex;
    
}

.unbold {
    font-weight: normal;
}


.vertCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top: 20px;
}
  
.vertCenter2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80vh; */
    margin-top: -190px;
}