.hide {
    display: none;
}

#custom-bg {
    background-image: url("../images/birthdaybg.png");
    background-size: cover;
    display: flex;
    
}

.custom-header {
    background-image: linear-gradient(to left, #efddff, #cef1ff);
}

.custom-text {
    color: #777;
}

.text-black {
    color: #777;
}

.custom-btn {
    background-image: linear-gradient(to left, #efddff, #cef1ff);
    color: #777;
    width: fit-content;
    border: solid #ccb7e9;
    border-width: medium;
}

.custom-btn:hover{
    border: solid #CCB7E5;
    border-width: thick;
}
.unbold {
    font-weight: normal;
}


.vertCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top: 20px;
}
  
.vertCenter2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80vh; */
    margin-top: -190px;
}

.bday-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}